.header {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 110px;

    padding: 30px 30px 30px 35px;
    z-index: 999;

    @media (max-width: 920px) {
        padding: 0px;
        height: 70px;
        background: rgb(251, 251, 251);
        border-bottom: 1px solid rgb(238, 238, 238);
    }

    &__view {
        display: flex;
    }

    &__logo {
        @media (max-width: 920px) {
            margin: 0px auto;
        }
    }

    &__end {
        display: flex;
        align-items: center;
        margin-left: auto;
        height: 50px;

        @media (max-width: 920px) {
            display: none;
        }

        a:not(.button) {
            margin-top: 8px;
        }
        & > *:not(:first-child) {
            margin-left: 37px;
        }

        &.hide {
            display: none;
        }
    }

    &__hide-menu {
        display: none;
    }
}
