.svg-logo { width: 42px; height: 50px; }
.svg-bag { width: 22px; height: 26px; }
.svg-person { width: 26px; height: 26px; }

.svg-healthy1 { width: 103px; height: 84px; }
.svg-healthy2 { width: 87px; height: 97px; }
.svg-healthy3 { width: 84px; height: 107px; }