.quiz {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;

    &__radio.show {
        display: block !important;
    }
    &__text.hide {
        display: none !important;
    }

    @media (max-width: 1100px) {
        flex-direction: column;
    }

    & > *:not(.quiz__quest-num) {
        width: 50%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 1100px) {
            width: 100%;
        }
    }

    &__title {
        h1 {
            max-width: 496px;
            width: 100%;

            font-size: 64px;
            line-height: 77px;
        }
        a {
            position: absolute;
            bottom: 30px;
            left: 35px;

            display: flex;
            align-items: center;
            gap: 15px;

            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
        }
        color: #fff;
        background: #8172DD;

        @media (max-width: 1100px) {
            color: #000;
            background: #fff;

            h1 {
                font-size: 24px;
                line-height: 29px;
                text-align: center;

                margin-top: 156px;
            }
        }
    }

    div:has(input#name) {
        position: relative;
    }
    &__button-next {
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translate(0px, -50%);

        display: flex;
        justify-content: center;
        align-items: center;

        width: 69px;
        height: 69px;
        border-radius: 50%;

        color: #fff;
        background: #FF7D4E;
        &:active {
            background: #d65c30;
        }

        @media (max-width: 1100px) {
            width: 32px;
            height: 32px;
            background: #ddd;
        }
    }

    &__quest-num {
        position: absolute;
        top: 37px;
        right: 35px;

        font-weight: 600;
        font-size: 30px;
        line-height: 41px;
    }
}
.input-quiz {

    background: #FAF8F6;

    @media (max-width: 1100px) {
        display: flex;
        align-items: flex-start !important;
    }

    &__container {
        max-width: 496px;
        width: 100%;

        @media (max-width: 1100px) {
            display: flex;

            & > div {
                width: 90%;
                margin: 0px auto 0px;
                display: flex;
            }
        }

        input:focus {
            outline-color:#8172DD;
            //background: #000 !important;
        }
        input[type=radio] {
            position: absolute;
            opacity: 0;
            z-index: -1;
        }
        label {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;

            display: flex;
            align-items: center;
            padding: 40px;

            width: 100%;
            height: 105px;

            background: #fff;
            border-radius: 16px;

            &:hover {
                border: 2px solid #8172DD;
            }
        }
        div:has(label) {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        input#name {
            width: 100%;
            height: 105px;
            border-radius: 16px;
            padding: 0px 30px;

            font-weight: 600;
            font-size: 18px;
            line-height: 25px;

            background: #fff;

            @media (max-width: 1100px) {
                height: 56px;
            }

            &::placeholder {
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
}

.quiz__text {
    //display: none !important;
}
.quiz__radio {
    display: none !important;
}