@import "modules/header.scss";
@import "modules/fonts";
@import "modules/icons";
@import "modules/buttons";
@import "modules/decor";
@import "../../node_modules/swiper/swiper-bundle.min.css";

//-----INIT-STYLES--------------------------------

*, *::after, *::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    cursor: pointer;
}
ul, ol, li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    
}
img {
    width: initial;
    height: initial;
}
html, body {
    position: relative;
    width: 100vw;
    //overflow-x: hidden;

    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 163%;
    color: #000;
    background: #FFF;
}
p {
    font-size: 20px;
    line-height: 163.42%; 
}
main {
    position: relative;
}
body {
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
}
h1 {
    font-family: 'Effra';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 68px;

    @media (max-width: 700px) {
        font-size: 24px;
        line-height: 29px;
    }
}
h2 {
    
}
h3 {
    
}
h4 {
    
}
h5 {
    font-family: 'Effra';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
}
h6 {
    font-family: 'Effra';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

button {
    background: transparent;
    border: transparent;
}
//----MAIN-SHARED-STYLES--------------------------------

.container {
    max-width: 1426px;
    width: 100%;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin: 0 auto;
}
